
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
    font-family:  'Futura', 'futura-pt', 'Futura LT', sans-serif;
}

body.single {
    background-color: #696969;
    padding: 30px;
}

body > img {
    display: none;
}

sub {
    bottom: -0.50em;
}
h2 sub {
    bottom: -0.25em;
}

pre {
  border: none;
  border-radius: 0;
  background-color: #f8f8f8;
  color: #333;
}

.blog-post img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
    .fivecolumn .span2 {
        width: 19.675%;
    }
}

.customers-list-item {
    height: 353px;
}

.customers-list-item h2 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: normal;
    color: #1d1d1d;
    line-height: 1em;
}

.customers-list-item h2 sub {
    font-size: 55%;
}

.customers-list-item p {
    font-size: 12px;
    font-weight: normal;
    color: #8b8b8b;
    line-height: 1.5em;
}

::selection {
    background-color: #fef486;
}
::-moz-selection {
    background-color: #fef486;
}

.text-link {
    display: block;

    margin-bottom: 12px;
    margin-right: -20px;

    font-size: 12px;
    color: #1d1d1d;
    line-height: 1.2em;
}
.text-link:hover {
    color: #1d1d1d;
    text-decoration: none;
}
.text-link i {
    margin-left: 6px;
    margin-right: -20px;
}
@media screen and (max-width: 767px) {
    .text-link {
        margin-right: 0px;
    }
}

iframe {
    display: block;
}

.modal-illustration {
    cursor: pointer;
}

.tab-pane {
    min-height: 315px;

    position: relative;
}
.modal-body iframe,
.modal-body object,
.modal-body embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.modal-header {
    background-color: #1e1e1e;
    border-color: #090909;

    color: #f4e32c;
}
.modal-content {
    border-radius: 0px;
    border: 0px;
}
.modal-body.video-standalone {
    padding: 0px;
}
.modal-body.image-standalone {
    background-color: #1e1e1e;

    text-align: center;
}
.modal-body.image-standalone .illustration {
    margin: 0 auto;
}
.modal-dialog .nav-tabs {
    height: 40px;

    white-space: nowrap;

    background-color: #fced4c;
    border: 0px;
}
.modal-dialog .nav-tabs li {
    display: inline-block;
    height: 46px;

    margin-right: -2px;

    float: none;
}
.modal-dialog .nav-tabs li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border: 0px;
    border-radius: 0px;

    color: #333333;
}
.modal-dialog .nav-tabs li.active a,
.modal-dialog .nav-tabs li a:hover,
.modal-dialog .nav-tabs li a:focus {
    color: #f4e32c;
    border: 0px;
    background-color: #1e1e1e;
}
@media screen and (max-width: 767px) {
    .modal-dialog .nav-tabs li {
        max-width: 33%;
    }
}
.modal-dialog .close {
    color: #FFFFFF;
    text-shadow: none;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 21px;
    line-height: inherit;

    vertical-align: middle;
}
.icon-arrow-up {
    font-size: 50px;
}

.go-top {
    padding: 0px;
    line-height: 1em;
}

.no-padding-left {
    padding-left: 0px;
}
.no-padding-right {
    padding-right: 0px;
}

@media screen and (max-width: 767px) {
    .no-padding-left {
        padding-left: 15px;
    }
    .no-padding-right {
        padding-right: 15px;
    }
}

#Wave-background {
    width: 100%;
    height: 704px;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;

    background-color: #fbe91f;
    background-image: url(../images/wave-background.png);
    background-repeat: no-repeat;
}

#Wave-background canvas {
    height: 448px;
}

html.canvas.svg:not(.touch) #Wave-background {
    background-image: url(../images/wave-bottom-background.png);
    background-position: 0px 448px;
}

.owl-carousel {
    padding: 0px;

    list-style: none;
}
.owl-carousel .owl-item {
}

/* ----------------------------------------------------- [Site Header] ----- */
.site-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}


/* ----------------------------------------------------- [Site Footer] ----- */
.site-footer {
    padding: 76px 0px 43px;
    background-color: #171717;
}
.site-footer .btn {
    margin-left: 98px;

    color: #fbe91f;
}
.site-footer .btn:hover {
    text-decoration: none;
}
.site-footer .social-nav {
    margin-right: 16px;
}

.site-footer .footer-nav ul li a{
  color: yellow;
}

@media screen and (max-width: 460px) {
    .site-footer .btn {
        display: block;

        float: none !important;
        position: relative;
        top: 60px;

        margin: 0 auto;
    }
}


/* ---------------------------------------------------- [Page Content] ----- */

.content {
    padding-bottom: 65px;
    background-color: #FEFEFE;
}

.content h5, h6 {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: lighter;
}

.content blockquote {
  font-size: 14px;
  color: #888;
}

.content-header {
    position: relative;
    background-color: #fef486;
}
.content-header .container {
    background-color: #fef486;
}
.content-header h1 {
    padding-top: 12px;
    padding-bottom: 6px;
    font-size: 60px;
    font-weight: lighter;
    font-style: normal;
    color: #f4e32c;
    line-height: 1.2em;
}
.content-header h1 a,
.content-header h1 a:link,
.content-header h1 a:hover,
.content-header h1 a:active {
  color: inherit;
  text-decoration: none;
}
.content-header .history-back {
    display: none;
    overflow: hidden;

    position: absolute;
    top: 0px;
    left: 0px;

    background-color: #1e1e1e;

    color: #2b2b2b;
    text-align: right;

    transition: color 0.3s;
}
.content-header .history-back:hover,
.content-header .history-back:focus {
    color: #706f72;
    text-decoration: none;
}
.content-header .history-back i {
    display: inline-block;

    padding-top: 12px;
    padding-right: 46px;

    font-size: 66px;
    line-height: 1.6em;
}

@media screen and (max-width: 767px) {
    .content-header h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 499px) {
    .content-header h1 {
        padding-left: 0px;

        text-align: center;
    }
}


/* ------------------------------------------------------- [Site Logo] ----- */
.site-logo {
    width: 70px;
    height: 43px;

    margin: 0px;

    background-image: url(../images/h2o-home.png);
    background-repeat: no-repeat;
    background-position: center;

    text-indent: -9999px;
    float: right;
}

.h2o-world-logo {
    width: 200px;
    height: 200px;

    margin: 0px;

    background-image: url(../images/meet-me-up-h2o-world.gif);
    background-repeat: no-repeat;
    background-position: center;

    text-indent: -9999px;
}

@media screen and (max-width: 767px) {
    .site-logo {
        float: none !important;

        margin: 0 auto;
    }
}

@media screen and (max-width: 499px) {
    .site-logo {
        position: relative;
    }
}


/* ------------------------------------------------- [Site Navigation] ----- */
.navbar {
    min-height: 0px;

    position: relative;

    margin-bottom: 0px;
}
.navbar-header,
.navbar-header.in,
.navbar-header.collapse {
    display: block !important;

    height: 50px !important;
    min-height: 50px !important;
}
.navbar-collapse {
    max-height: 350px;

    border-top: 0px;
    box-shadow: none;
}
.navbar-default .navbar-toggle {
    border-color: #bbad0b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1d1d1d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(29,29,29,0.8);

    outline: none;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fbe91f;
}
.site-nav {
    padding-top: 9px;
    /*margin-right: 39px;*/

    background: none;
    border: 0px;
}
.site-nav .nav
{
    min-height: 35px;
}
.site-nav .nav>li
{
    margin-left: 12px;
}
.site-nav .nav>li>a {
    padding: 7px 4px 3px 3px;
    margin-bottom: 2px;

    border-radius: 0px;

    font-size: 16px;
    color: #1d1d1d;
}

.site-nav ul.navbar-logo{
    position: absolute;
    left: 50%;
    margin-left: -31px;
}

.site-nav ul.navbar-logo u{
    display: inline-block;
    padding-bottom: 7px;
    /*border-bottom: solid 2px #262626;*/
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.site-nav ul.navbar-logo img{
    max-width: 35px;
    margin-top: -7px;
}

.site-nav ul.navbar-logo u:hover{
    border-bottom: solid 2px #262626;
}

.site-nav .nav>li>a:hover {
    margin-bottom: 0px;
    background: none;
    border-bottom: solid 2px #221f1f;
}

.site-nav ul.navbar-logo>li>a:hover {
    margin-bottom: 0px;
    background: none;
    border-bottom: none;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin: 12px -15px;
    }
    .site-nav {
        float: none !important;

        margin-right: 0px;

        text-align: center;
    }
    .site-nav .nav>li
    {
        float: none;

        margin-left: 12px;
    }
    .navbar-collapse {
        width: 100%;

        position: absolute;
        top: 100%;
        z-index: 2;

        background-color: rgba(254,244,134,0.7);
    }

    .site-nav .nav>li>a {
        padding: 10px 0px 6px;
        margin-bottom: 0px;
    }
    .site-nav .nav>li>a:hover {
        background: rgba(29,29,29,0.7);
        border: 0px;

        color: #fbe91f;
    }
    .site-nav ul.navbar-logo{
        margin-left: -25px;
        top: -20px;
    }
}


/* -------------------------------------------------------- [Paper js] ----- */
#canvas {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------[Section: SubNav]--------------*/
.sub-nav{
    background: #eee;
    border-bottom: 2px solid #d5d5d5;
}

.sub-nav .site-nav .nav>li>a{
    padding: 10px 15px;
}

.sub-nav ul.navbar-right a{
    border: 1px solid #d5d5d5;
}

.sub-nav ul.navbar-right a:hover{
    border: 2px solid #d5d5d5;
}

/* --- changes --- */

